h1{
    color: red;
}

.AnotherClass{
    color:blue;
}

.removeButton{
    display:none;
}

input[name="last_name"]{
    background-color:burlywood;
}

#testForm input[name=last_name]{
    background-color: aquamarine;
}